:root {
    --color-bg-nav: #f4f1ea;
    --color-bg-body: #fff;
    --color-bg-card: #faf8f6;
    --color-bg-footer: #f4f1ea;

    --color-text-body-light: #4f4f4d;
    --color-text-body-standard: #1e1915;
    --color-text-disabled: #8e8e97;

    --color-btn-wtr-base: #3f8363;
    --color-btn-wtr-hover: #409970;

    --color-bg-rating-star-base: #e87400;
    --color-bg-rating-star-empty: #c2c7cc;
    --color-bg-rating-star-border: #8e8e97;

    --color-input-border: #dcd6cc;
    --color-input-bg: #fff;



}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-body);
    font-family: Arial, sans-serif, system-ui;
    font-weight: 400;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;

    /* outline: 1px solid rebeccapurple; */
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 90px;
    background: #f4f1ea;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    z-index: 100;
}
  
a:link, a:visited {
    color: var(--color-text-body-standard);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Section Styles */
  
/* Header */
.header-banner {
    width: 100%;
    height: 40px;
    background: #b7c0fd;
}

.banner-inner {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.banner-link, .banner-link img {
    display: block;
    width: 100%;
    height: 100%;
}
  
.header-content {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 16px;
    padding: 0 10px;
}

.header-secondary-nav {
    margin-left: auto;
}
  
.header-logo {
    display: flex;
    height: 50px;
    width: 140px;
    margin: 0 10px;
    padding: 0 4px;
}

.header-logo img {
    width: 100%;
    height: auto;
}
  
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-list li a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
}

.nav-list li a:hover {
    background-color: #53372d;
    color: #fff;
    font-weight: 520;
}

.search-bar {
    display: inline-flex;
    gap: 15rem;
    font-size: .9rem;
    color: #797979;
    border: solid 1px;
    border-color: lightgray;
    background-color: white;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
}

/* Book Stuff */
.flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: flex-start;
}


/* Sidebar */

.sidebar {
    position: sticky;
    top: 15px;
    min-width: 300px;
    padding-top: 100px;
    margin: 13px 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
}

#book-cover {
    height: auto;
    width: 100%;
    max-width: 210px;
    border-radius: 0 6% 6% 0 / 4%;
}

.book-btn {
    margin: 16px auto 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-want-to-read {
    width: 100%;
    background-color: var(--color-btn-wtr-base);
    border-width: 2px;
    border-radius: 3rem;
    padding: 12px 100px;
    font-weight: 550;
    align-items: center;
    justify-content: center;
}

.btn-want-to-read span {
    color: white;
}

.btn-want-to-read:hover {
    background-color: var(--color-btn-wtr-hover);
}

.btn-kindle {
    border-color: var(--color-btn-wtr-base);
    border-style: solid;
    width: 100%;
    border-width: 2px;
    border-radius: 3rem;
    padding: 12px 100px;
    font-weight: 550;
    align-items: center;
    justify-content: center;
}

.btn-kindle:hover {
    background-color: #cec9c9;
}

/* Info Content */

.main-content {
    padding-top: 100px;
}

.book-details {
    font-family: Libre Baskerville, Georgia, serif;
}

.book-title {
    display: flex;
    flex-direction: row;
    font-size: 2.3rem;
    font-weight: 400;
}

.book-title h3 {
    line-height: 3rem;
    font-weight: 800;
}

.book-title a {
    margin-left: auto;
}

.author-details {
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 2px;
}

.author-details img {
    height: 20px;
}

.author-details:hover {
    text-decoration: underline;
}

.rating {
    padding-top: 10px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 1rem;
}

.rating:hover {
    background-color: #e4e4e490;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.rating-num {
    font-size: 1.7rem;
    font-family: Libre Baskerville, Georgia, serif;
}

.rating-stats-column{
    font-size: .9rem;
    color: #707070;
}

.choice-awards-badge {
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: .9rem;
    align-items: center;
    font-weight: 400;
}

.choice-awards-flag {
    border-width: 2px;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: .9rem;
    font-weight: 400;
    background-color: #F0BF6E;
}

.book-description {
    padding-right: 210px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .9rem;
    font-family: Montserrat, Arial, sans-serif;
}

.book-description b{
    font-weight: 600;
}

.genres {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.genres p{
    font-size: .9rem;
    color: #707070;
}

.genre-button {
    /* outline: 5px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genre-button a {
    border-bottom: solid darkgreen 3px;
    text-decoration-thickness: 2px;
}

.genre-button a:hover {
    border-bottom: solid var(--color-btn-wtr-hover) 3px;
}

.extra-book-details {
    padding-top: 20px;
    gap: 1rem;
    font-size: .9rem;
    line-height: 2rem;
    color: #4f4f4d;
}

/* Help Card */
.help-card {
    border-radius: 15px;
    padding: 24px;
    background-color: var(--color-bg-card);
    margin-bottom: 32px;
    text-align: center;
}

.help-card-title {
    padding-bottom: 12px;
    font-family: Libre Baskerville, Georgia, serif;
}

.help-card-title h4{
    font-size: 1.15rem;
    font-weight: 200;
}

.help-card-button-container {
    padding-top: 38px;
}

.help-card-button {
    border-color: #707070;
    border-style: solid;
    border-width: 2px;
    border-radius: 3rem;
    padding: 12px 20px;
    font-weight: 550;
    align-items: center;
    justify-content: center;
}

.help-card-button:hover {
    background-color: #cec9c9;
}

/* Footer */
footer {
    width: 100%;
    background-color: var(--color-bg-footer);
    min-width: 320px;
    padding: 32px 0px;
}

footer ul {
    font-size: .85rem;
    line-height: 1.5rem;
    margin-top: .5rem;
}

footer h5 {
    text-transform: uppercase;
}

.footer-contents {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    gap: 80px;
    margin: 0 auto;
    padding: 0px 12px;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-brands-links{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    gap: 5px;
}

.footer-app-links {
    margin-right: 30px;
    margin-left: auto;
}

.app-links img {
    width: 135px;
}

#copy {
    margin-top: 12px;
    font-size: .85rem;
}